<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="nav">
    <div class="logo">Welcome</div>
    <ul>
    <li><a href="/login">Sin in</a></li>
    <li><a href="/register">Sin up</a></li>
  </ul>
   </div>

   <div>
    <form action="/login" method="post">
        <input type="text" placeholder="Full name" name="name">
        <br><br>
        <input type="email" placeholder="email" name="email">
        <br><br>
        <input type="number" placeholder="+91 1234567890" name="number">
        <br><br>
        <input type="password" placeholder="********" name="password">
        <br><br>
        <button>submit</button>
    </form>
   </div>
<%- include("partials/footer") %>