html,body {
  min-height: 100%;
  width: 100%;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav{
  width: 80%;
  height: 20%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #0d07079a;
} 
.nav>.logo{
  font-size: 30px;

}
.nav>ul{
  display: flex;
  gap: 20px;
  font-size: 20px;
  text-decoration: none;
}
.nav>ul>li{
  list-style: none;
}
.nav>ul>li>a{
  color: #0d0707;
  text-decoration: none;
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 15px;
}
button{
  padding: 8px 20px;
  background-color: yellow;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}